@model DACN.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Liên hệ</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sửa liên hệ</div>
                    </div>
                     <form asp-action="Edit">
                            <input type="hidden" asp-for="ContactId" />
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Tên</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Message" class="control-label">Tin nhắn</label>
                                    <input asp-for="Message" class="form-control" />
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                    <a asp-action="Index" class="btn btn-warning">Quay Lại</a>
                                </div
                                <!-- /.card-body -->
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>